extends ../layouts/layout

block content
    form#formLogin
        .card.col-6.offset-3.p-0
            .card-header
                h3.text-center.mt-2 Login
            .card-body
                .input-group.mb-3.mt-3
                    input#username.form-control.bg-light(type='text', autocomplete='off', placeholder='Username', aria-label='Username', required='required')
                .input-group.mb-3.mt-3
                    input#password.form-control.bg-light(type='password', autocomplete='off', placeholder='Password', aria-label='Password', aria-describedby='submitLogin', required='required')
                p#login_err_msg.text-center.hidden(style='color:red')
                .input-group.mb-3.mt-3
                    button#submitLogin.btn.btn-block.btn-outline-primary(type='submit') Login
    #chat.hidden
        form#formSendMessage
            .card.bg-light
                .card-header
                    input#msg_to.form-control.bg-light(type='text', autocomplete='off', placeholder='Receiver', required='required')
                #messages.card-body.messages
                    button.go-down.hidden
                        i.fa.fa-chevron-down
            .input-group.input-group-lg.mb-3.mt-3
                input#msg.form-control.bg-light(type='text', autocomplete='off', placeholder='Message', aria-label='Message', aria-describedby='submitMessage', required='required')
                .input-group-append
                    button#submitMessage.btn.btn-outline-primary(type='submit') Send
block foot
    script(src='/javascripts/scripts.js')